@page "/app/papers"
@page "/app/papers/{year:int}"
@attribute [Authorize(Roles = "Admin")]
@inject AuthHttp auth

<h1 class="text-center">Papers</h1>
@if (Sales == null)
{
    <p class="lead">Loading...</p>

}
else if (Sales.Count == 0)
{
    <p class="lead">No papers could be found.</p>
}
else
{
    <div class="row mb-2">
        <div class="col-6">
            <a class="btn btn-secondary" href="/app/papers/@(Year-1)">@(Year-1) Sales</a>
        </div>
        <div class="col-6 text-right">
            @if (Year != DateTime.Today.Year)
            {
                <a class="btn btn-secondary" href="/app/papers/@(Year+1)">@(Year+1) Sales</a>
            }
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Buyers
                    </th>
                    <th scope="col">
                        Vehicle
                    </th>
                    <th scope="col">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Sale sale in Sales)
                {
                    <tr>
                        <td>
                            @sale.Date
                        </td>
                        <td>
                            @sale.Buyers()
                        </td>
                        <td>
                            @sale.Car.Name()
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="/app/papers/view/@sale.Id">View</a>
                                <a class="btn btn-secondary" href="/app/papers/edit/@sale.Id">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public int? Year { get; set; }
    public List<Sale> Sales { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!Year.HasValue)
            Year = DateTime.Today.Year;
        Sales = await auth.Client.GetFromJsonAsync<List<Sale>>($"/api/sale/{Year}");
        await base.OnParametersSetAsync();
    }
}
