@page "/app/inventory"
@attribute [Authorize(Roles = "Admin")]
@inject AuthHttp http

<h1 class="text-center">Inventory</h1>
<div class="text-right my-2">
    <a href="/app/inventory/add" class="btn btn-secondary"><i class="mdi mdi-plus"></i> Add Vehicle</a>
</div>
@if (Inventory == null || Inventory.Count == 0)
{
    <p class="lead">There's currently no active vehicles in inventory.</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Year
                    </th>
                    <th>
                        Make
                    </th>
                    <th>Model</th>
                    <th>Mileage</th>
                    <th>Bought Price</th>
                    <th>List Price</th>
                    <th>Salvage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Car car in Inventory)
                {
                    <tr>
                        <td>
                            @car.Year
                        </td>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                        <td>@car.MileageString</td>
                        <td class=@(car.BoughtPrice.HasValue ? string.Empty : "table-danger")>
                            @car.BoughtPrice?.ToString("C")
                        </td>
                        <td>@car.ListPrice.ToString("C")</td>
                        <td class="text-center">
                            <input class="form-check-input position-static" disabled type="checkbox" value="@car.IsSalvage" />
                        </td>
                        <td>
                            <a href="/app/inventory/edit/@car.Id" class="btn btn-sm btn-secondary">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    public List<Car> Inventory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Inventory = await http.Client.GetFromJsonAsync<List<Car>>("/api/inventory");
        await base.OnInitializedAsync();
    }
}
